<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body style="background-color: coral;">

	<center><form action="/well" method="POST">

		<label for='fn'>Enter First Name:</label>
		<input type="text" name="fn" id="fn">
		<br /><br />

		<label for='ln'>Enter First Name:</label>
		<input type="text" name="ln" id="ln">
		<br /><br />

		<label for='ag'>Enter First Name:</label>
		<input type="text" name="ag" id="ag">
		<br /><br />

		<button type="submit">Submit</button>

	</center></form>

</body>
</html>